
<div class="gallery_main_show_container">
    <% if !@post.empty? %>
    <h2><%= @work_title.title %></h2>
    <% @post.each do |p| %>
    <div class="gallery_detail_container">
        <div class="gallery_img_container">
        <% if p.post_img.attached? %>
        <%= image_tag p.post_img %>
        <% end %>
        </div>
        <header class="gallery_description_container">
            <h3><%= p.description %></h3>
        </header>
    </div>
    <% end %>
    <% else %>
    <h1>Sorry gallery is in working state<h1>
    <% end %> 
</div>
<div class="nav-pagy-container">
    <% if @post.count > 0%>
    <p><%=if @pagy.page == @pagy.last then @post.count else @pagy.items*@pagy.page end%>/<%= @post.count %></p>
    <%end%>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %> 
</div>