<div class="show_category_container">
<h1><%= t(".title") %></h1>
<p style="color: green"><%= notice %></p>
<h2 class="h2_bt"><%= link_to t(".add_button"), new_company_association_file_path %></h2>


  <div class="grid_list_display_4">
      <header class="list_header_cont_4">
          <p class="p_description"><%= t("categories.index.description") %></p>
          <p class="p_picture"><%= t("categories.index.image") %></p>
          <p class="p_file"><%= t(".file") %></p>
          <p class="p_manage"><%= t("categories.index.manage_content") %></p>
      </header>

      <% @company_association_files.each do |file| %>
    <div class="list_content_cont_4">
        <div class="i_description_4"><p><%= file.description%></p></div>
        <div class="i_picture_4">
          <% if file.company_img.attached? %>
          <%= image_tag file.company_img%>
          <% end %>
        </div>
        <div class="file_cont_div">
        <% if file.pdf.attached? %>
        <%= link_to file.pdf.filename, rails_blob_path(file.pdf, disposition: 'company_association_file')%>
        <% end %>
        </div>
        <div class="div_manage_4">
            <div class="i_show"><%= button_to t("categories.index.show_cont"), file, method: :get %></div>
            <div class="i_edit"><%= button_to t("categories.index.edit_cont"), edit_company_association_file_path(file), method: :get %></div>
            <div class="i_delete"><%= button_to t("categories.index.delete_cont"), file, method: :delete %></div>
        </div>
    </div>
    <% end %>

  </div>
</div>
<div class="nav-pagy-container">
    <% if CompanyAssociationFile.count > 0%>
    <p><%=if @pagy.page == @pagy.last then CompanyAssociationFile.count else @pagy.items*@pagy.page end%>/<%= CompanyAssociationFile.count %></p>
    <%end%>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %> 
</div>
