
<div class="show_post_container">
  <p style="color: green"><%= notice %></p>
   <div class="gallery_detail_container">
        <div class="gallery_img_container">
        <% if @work.work_img.attached? %>
        <%= image_tag @work.work_img %>
        <% end %>
        </div>
        <header class="gallery_description_container">
            <h3 style="text-align:center;"><%= @work.title %></h3>
        </header>
    </div>
  <div class ='show_bt_section'>
    <div class="link_div">
    <%= link_to t("categories.show.mod_cat"), edit_work_path(@work) %>
    </div>
    <div class="button_div">
    <%= button_to t("categories.show.del_cat"), @work, method: :delete %>
    </div>
    <div class="back_link_container">
    <%= link_to t("categories.new.back"), works_path %>
    </div>
  </div>
</div>