<div class="manage_link_cont">
    <ul class="prod-cls-cont">
        <li><%= link_to t(".manage_categories"), categories_path%></li>
        <li><%= link_to t(".manage_products"), products_path %></li>
    </ul>
    <ul class="work-cls-cont">
        <li><%= link_to t(".manage_works"), works_path%></li>
        <li><%= link_to t(".manage_posts"), posts_path%></li>
    </ul>
    <ul class="work-cls-cont">
        <li><%= link_to t(".manage_partner"), company_association_files_path%></li>
    </ul>
</div>