


<div class="list_contact-cont">
<ul>
  <li>
    <h1><%= t(".l_contact") %></h1>
  </li>
  <li>
    <h2>Angelo Pelleriti</h2>
    <p><span>Tel:</span><a href="tel:+39 324 6123960"> +39 324 6123960</a></p>
  </li>
  <li>
    <h2>Filippo Pelleriti</h2>
    <p><span>Tel:</span><a href="tel:+39 335 656 2064"> +39 335 6562064</a></p>
  </li>
  <li>
    <h2>Email</h2>
    <p><a href="mailto:info@edilsviluppo.com">info@edilsviluppo.com</a></p>
  </li>
  <li>
    <h2><%= t(".address") %></h2>
    <p>98060 Basicò (ME) - C/da Dardone sn</p>
  </li>
</ul>
</div>


<p style="color: green; text-align:center;"><%= notice %></p>

<div class="form_container_contact">


  <% if @errors %>
    <div class="error_form_container" style="max-width:750px;">
      <h2>
        <%= t (".mes_form_errors") %>
      </h2>
      <ul class="error_form_ul">
        <% for error in @errors.values %>
          <li class="error_form_li" type="1"> <%= error %></li>
        <% end %>
      </ul>
    </div> 
  <% end %>


<%= form_for :ask_message, url: contacts_path, class:'form_contacts_1' do |form| %>
    <h1><%= t(".form_h") %></h1>
<ul>
<li>
    <label for="contact_name"><%= t(".from_name") %></label>
    <%= form.text_field :name, id: "contact_name", :required => true%>
</li>
<li>
    <label for="contact_last"><%= t(".form_last_name") %></label>
    <%= form.text_field :last_name, id: "contact_last", :required => true%>
</li>
<li>
    <label for="contact_email"><%= t(".from_email") %></label>
    <%= form.email_field :email, id: "contact_email", :required => true%>
</li>
<li>
    <label for="contact_area"><%= t(".from_message") %></label>
    <%= form.text_area :message, id: "contact_area", placeholder: "describe your question here", :required => true%>
</li>
<li class="li_button">
   <%= form.submit(t(".send"))%>
</li>
</ul>
<%end%>
</div>


