<!DOCTYPE html>
<html lang ="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= @title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path("logo/logo-min.png")%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body class="body_container">
    <%= render "home/header" %>
    <main class="main_container">
    <%= yield %>
    </main>
    <%= render "home/footer" %>
  </body>
</html>
